{
  "presets": [
    "@babel/react",
    "@emotion/babel-preset-css-prop",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "browsers": ["last 2 versions"],
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "@babel/plugin-transform-runtime"
  ]
}

// {
//   "presets": [
//     ["env", {
//       "targets": {
//         "browsers": ["last 2 versions"]
//       }
//     }]
//   ]
// }
