// margin-right: 0;
//     width: 100%;
//     max-width: 55vw;
//     height: 32.8125rem;
// }

// @media (min-width: 720px)
// .c-journey__image {
//     height: 20.3125rem;
// }
.blow-out-left {
  width: 100%;
  max-width: 55vw;
  height: 32.8125rem;
  position: relative;
  margin-left: calc(-50vw + 50%);
  // margin-right: calc(-50vw + 50%);
  height: 13.125rem;
  overflow: hidden;
}
