.c-block-link {
	display: block;
	background-color: $color-white;
	margin: ($nb-spacing-unit / 2);
	padding: ($nb-spacing-unit * 2) $nb-spacing-unit;
	text-align: center;
	text-decoration: none;
	&__image {
		max-width: rem-calc(50px);
	}
	&__title {
		display: block;
	}
	&:hover,
	&:focus {
		box-shadow: inset 0 0 0px 2px $color-bg-dark;
	}
}