<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="/build/style.css" as="style" />
    <link rel="preload" href="/build/deferred-style.css" as="style" />
    <link rel="preload" href="/build/app.js" as="script" />
    <link rel="stylesheet" type="text/css" href="/build/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
    />
  </head>

  <body>
    <main id="content" class="main-area">
      <section class="grid-4  left-rail-template">
        <div class="left-rail-template-center">
          <div class="twin left-rail">
            <div class="left-rail-content">
              left rail
            </div>
          </div>
          <div class="twin right-content">
            <div class="cards-center-content">
              <div class="wysiwyg-content"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <br />
    <main id="content" class="main-area">
      <section class="grid-4  right-rail-template">
        <div class="right-rail-template-center">
          <div class="twin left-content">
            <div class="c-location-details-card">
              <div class="cards-center-content blow-out-left">
                <div>
                  <img src="https://staticmapmaker.com/img/google@2x.png" />
                </div>
              </div>
              <h1>Golisano Children's Hospital of Southwest Florida</h1>
              <a class="button button-primary" href="tel:123-456-7890"
                >123-456-7890</a
              >
              <div>
                <span>9981 S. HealthPark Dr.</span>
                <span>Fort Myers, Fl 33908</span>
              </div>
              <div class="c-directions">
                <a href="#">Get Directions</a>
              </div>
              <div class="c-transit">
                <span>
                  Lee Tran
                </span>
                <span>Route #123 - Bus Stop #12</span>
              </div>
            </div>
            <div class="c-content">
              <div class="c-heading-with-icon">
                <h2>Overview & What to Expect</h2>
              </div>
              <div>
                <p>
                  Lee Memorial Hospital is the flagship hospital for Lee Health
                  and a Level II Trauma Center, servicing Lee county and the
                  surrounding areas. The hospital houses The Rehabilitation
                  Hospital, a 60-bed comprehensive inpatient rehabilitation
                  facility.
                </p>
                <p>
                  Lee Memorial Hospital is the flagship hospital for Lee Health
                  and a Level II Trauma Center, servicing Lee county and the
                  surrounding areas. The hospital houses The Rehabilitation
                  Hospital, a 60-bed comprehensive inpatient rehabilitation
                  facility.
                </p>
              </div>
            </div>
            <div class="c-content">
              <div class="c-heading-with-icon">
                <h2><i class="fa fa-phone"></i>Overview & What to Expect</h2>
              </div>
              <div class="c-lined-list">
                <ul
                  data-dynamicListInitialQty="3"
                  data-dynamicListBtnText="Show All Contacts"
                  data-dynamicListAlign="center"
                >
                  <li>
                    <div>
                      <span>1 Lee Memorial Hospital</span
                      ><span>236-3432000</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <span>2 Lee Memorial Hospital</span
                      ><span>236-3432000</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <span>3 Lee Memorial Hospital</span
                      ><span>236-3432000</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <span>4 Lee Memorial Hospital</span
                      ><span>236-3432000</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <span>5 Lee Memoril lHospitaljj</span
                      ><span>236-343200</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-content">
              <div class="c-heading-with-icon">
                <h2>Overview & What to Expect</h2>
              </div>
              <div class="c-plain-list">
                <ul>
                  <li>
                    <span>Pediatric Rehabilitation:</span
                    ><span>Mon – Fri: 7 a.m. – 6 p.m.</span>
                  </li>
                  <li>
                    <span>Pediatric Rehabilitation:</span
                    ><span>Mon – Fri: 7 a.m. – 6 p.m.</span>
                  </li>
                  <li>
                    <span>Pediatric Rehabilitation:</span
                    ><span>Mon – Fri: 7 a.m. – 6 p.m.</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-content">
              <div class="c-heading-with-icon">
                <h2><i class="fas fa-user-md"></i>Services Offered</h2>
              </div>
              <div class="c-plain-list">
                <ul
                  data-dynamicListInitialQty="3"
                  data-dynamicListBtnText="Show All Services"
                  data-dynamicListAlign="center"
                >
                  <li><div>DNV-GL Certified Primary Stroke Center</div></li>
                  <li><div>Surgical Services</div></li>
                  <li><div>Women’s Care—Family Birth Suites</div></li>
                  <li><div>Special Care Nursery</div></li>
                  <li><div>10-bed Neurosurgical Progressive Care Unit</div></li>
                  <li><div>Cardiology/Diagnostic Cardiac Angiography</div></li>
                  <li><div>Pulmonary/Critical Care Specialists</div></li>
                  <li><div>Physical, Occupational and Speech Therapy</div></li>
                  <li><div>Chronic Disease Programs</div></li>
                  <li><div>Endoscopy/Gastroenterology</div></li>
                  <li><div>Weight Management</div></li>
                  <li><div>Cardiac Rehabilitation Program</div></li>
                  <li><div>Pulmonary Rehabilitation Program</div></li>
                  <li><div>Lab Services</div></li>
                  <li><div>Imaging Services</div></li>
                </ul>
              </div>
            </div>

            <div class="c-content">
              <div class="c-heading-with-icon">
                <h2><i class="far fa-hospital"></i>Facility Map</h2>
              </div>
              <div class="c-numbered-list">
                <ol>
                  <li>
                    <div>Alias, repellendus praesentium.</div>
                    <div>Alias, repellendus praesentium.</div>
                  </li>
                  <li>
                    <div>Alias, repellendus praesentium.</div>
                    <div>Alias, repellendus praesentium.</div>
                  </li>
                  <li>
                    <div>Alias, repellendus praesentium.</div>
                    <div>Alias, repellendus praesentiu</div>
                  </li>
                </ol>
              </div>
            </div>
          </div>
          <div class="twin right-rail">
            <div class="right-rail-content">
              <!-- <div class="c-quick-links">
            <h3>Quick Links</h3>
            <ul>
              <li><a href="#">overview</a></li>
              <li><a href="#">contact information</a></li>
              <li><a href="#">visiting hours</a></li>
              <li><a href="#">specialists available</a></li>
              <li><a href="#">parkings and transportation services</a></li>
            </ul>
          </div> -->
            </div>
            <div class="sticky">
              <div class="c-quick-links">
                <details>
                  <summary
                    ><h3>
                      <span class="details-icon">Quick Links</span>
                    </h3></summary
                  >
                  <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">contact information</a></li>
                    <li><a href="#">visiting hours</a></li>
                    <li><a href="#">specialists available</a></li>
                    <li>
                      <a href="#">parkings and transportation services</a>
                    </li>
                  </ul>
                </details>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="/Kentico/Scripts/jquery-3.3.1.js"></script>
    <script src="/Kentico/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Kentico/Content/FormComponents/FileUploader/file-uploader.js"></script>
    <script src="/Kentico/Content/Selectors/FormComponents/MediaFiles/media-files-selector.admin.js"></script>
    <script src="/Kentico/Content/Selectors/FormComponents/Pages/page-selector.admin.js"></script>
    <script src="/Kentico/Content/Selectors/FormComponents/Path/path-selector.admin.js"></script>
    <script src="/Kentico/Scripts/forms/updatableFormHelper.js"></script>
    <script src="/Kentico/Content/FormComponents/USPhone/dependencyLibs/inputmask.dependencyLib.js"></script>
    <script src="/Kentico/Content/FormComponents/USPhone/inputmask.js"></script>

    <noscript id="deferred-styles">
      <link rel="stylesheet" type="text/css" href="/build/deferred-style.css" />
    </noscript>
    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement);
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf =
        window.requestAnimationFrame ||
        window.mozRequestAnimationFrame ||
        window.webkitRequestAnimationFrame ||
        window.msRequestAnimationFrame;
      if (raf)
        raf(function() {
          window.setTimeout(loadDeferredStyles, 0);
        });
      else window.addEventListener("load", loadDeferredStyles);
    </script>
    <script src="/build/app.js" type="text/javascript"></script>
  </body>
</html>
