.u-text {
	&-right {
		text-align: right;
		p, h2, h3, h4, h5 {
			margin-left: auto;
		}
		@at-root {
			p#{&}, h2#{&}, h3#{&}, h4#{&}, h5#{&} {
				margin-left: auto;
			}
		}
	}
	&-center {
		text-align: center;
		p, h2, h3, h4, h5 {
			margin-left: auto;
			margin-right: auto;
		}
		@at-root {
			p#{&}, h2#{&}, h3#{&}, h4#{&}, h5#{&} {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}
