.u-text {
	&-shadow {
		text-shadow: 0 0 1em transparent, rem-calc(2px) rem-calc(2px) rem-calc(8px) $color-bg-dark;
		@media print {
			text-shadow: none;
		}
	}
	&-underline {
		&:after {
			@include text-shadow();
		}
		+ * {
			margin-top: auto;
		}
	}
	&-emphasize {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		strong {
			display: block;
			margin: 0 auto -0.6rem;
			&,
			.s-sidebar & {
				font-size: 2em;
			}
			@extend .u-text-shadow;
			@include nb-respond-to('md') {
				font-size: 3.125em;
			}
		}
	}
}