ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  column-count: 2;
  margin-top: 40px;
  padding: 0;
}
ol li {
  counter-increment: my-awesome-counter;
  display: inline-block;
  position: relative;
  padding: 0.2rem 0 0 2rem;
  margin-bottom: 1rem;
}
ol li::before {
  content: counter(my-awesome-counter);
  color: white;
  font-weight: bold;
  background: red;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  left: 0;
  top: 0;
}
