%list-reset {
	list-style: none;
	margin-left: 0;
	li {
		padding-left: 0;
	}
}

ul, ol {
	margin-left: 1.8rem;
}

li {
	&:not(:last-child) {
		margin-bottom: .8rem;
	}
}

ul {
	li {
		padding-left: 1rem;
	}
}

ol {
	li {
		padding-left: 0.5rem;
	}
}