%a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

%a11y-visible {
  clip: rect(auto, auto, auto, auto);
  height: inherit;
  margin: inherit;
  overflow: inherit;
  position: static;
  width: inherit;
}

%width-max {
  max-width: 100%;
  width: 100%;
}

%font-size14 {
  font-size: 1.4rem;
}
%font-size16 {
  font-size: 1.6rem;
}

%font-size18 {
  font-size: 1.8rem;
}

%font-size22 {
  font-size: 2.6rem;
}

%font-size26 {
  font-size: 2.6rem;
}

// %bg-wht-color-blk {
//   background-color: $color-white;
//   color: $color-black;
//   outline: none;
// }

// %text-shadow-blue {
//   text-shadow: -0.4px 0 $color-blue, 0 0.4px $color-blue, 0.4px 0 $color-blue,
//     0 -0.4px $color-blue;
//   letter-spacing: 0.2px;
// }

%no-margin-no-padding {
  margin: 0;
  padding: 0;
}

%no-border {
  border: none;
}

%site-padding {
  padding: 0 2rem;
  @include breakpoint(mobileonly) {
    padding: 0 1.5rem;
  }
}
